body {
    background-color: #F1EEE7;
    font-family:Arial, Helvetica, sans-serif;
    background-image:url("background.jpg");
    color:white;
}



img {
    object-fit: cover;
    width: 80vw;
    height: 70vh;
    /* width: 430px;
    height: 430px; */
    margin: auto;
padding: 20px;
border-radius: 25px;
  }

@media screen and (min-width: 768px) {
  img {
    width:500px;
  }
  button {
    width: 25%;
  }
}
  #container {
    display: flex;
    flex-direction: column;
  }

  button {
    
    margin: auto;
    padding: 10px;
    background-color: #190829;
    color: white;
    border-radius:10px;
    text-transform: uppercase;
    
  }

  h1 {
    margin:auto;
  }